openapi: "3.1.0"
info:
  title: ADIT Cloud — Sync Upload API
  version: "1.0.0"
  description: |
    Server API specification for ADIT's incremental file upload feature.

    ## Overview

    The sync upload system allows ADIT clients to incrementally upload
    files (transcripts, plans, logs, etc.) from any supported AI coding
    tool (Claude Code, Cursor, Windsurf, etc.) to the cloud server.

    The API is generic — the `type` field tells the server what kind of
    file is being uploaded (e.g. "transcript"), and the `cli` field tells
    it which tool produced it (e.g. "claude-code"). This lets the server
    handle different file formats and tool-specific logic without
    requiring separate endpoints per tool.

    ## Protocol Flow

    1. Client discovers a file to upload (e.g. transcript_path from a hook event)
    2. Client reads new bytes from the file (since last confirmed offset)
    3. Client snaps to the nearest complete line boundary (for JSONL files)
    4. Client compresses the increment with gzip
    5. Client POSTs the compressed chunk to `POST /api/sync/upload`
    6. Server validates, decompresses, and appends to stored file
    7. Server responds with confirmed byte offset, upload ID, and version token
    8. Client persists the confirmed offset locally for next upload

    ## Status Checking

    - `HEAD /api/sync/upload/{uploadId}` — Lightweight check returning
      offset and version in response headers (no body, low cost)
    - `GET /api/sync/upload/{uploadId}` — Full status with JSON body
    - `GET /api/sync/upload/by-path` — Lookup by original file path

    ## Error Recovery

    If the server detects data corruption (e.g., incomplete lines, checksum
    mismatch), it responds with `resyncRequired: true` and the client must
    re-upload the entire file from offset 0.

    ## Retry Policy

    The client retries up to 3 times per file. After 3 consecutive
    failures, the file is marked as "failed" and no further uploads are
    attempted unless manually reset by the user.

servers:
  - url: https://cloud.adit.dev
    description: Production server

paths:
  /api/sync/upload:
    post:
      operationId: uploadChunk
      summary: Upload an incremental file chunk
      description: |
        Upload a gzip-compressed chunk of a file. The `type` field identifies
        what kind of file this is (e.g. "transcript") and the `cli` field
        identifies which AI coding tool produced it (e.g. "claude-code").

        The chunk starts at the given byte offset and (for JSONL files)
        contains only complete lines. The server assembles the full file
        from these increments.

        **Idempotency**: If the server already has data at the given
        offset, it validates the overlap and ignores duplicate data.

        **Conflict detection**: The `serverVersion` token prevents
        concurrent uploads from corrupting the stored file.
        If the token doesn't match, the server returns 409.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SyncUploadRequest"
      responses:
        "200":
          description: Chunk accepted and appended successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncUploadResponse"
        "400":
          description: Invalid request (missing fields, invalid offset, etc.)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Authentication required or token expired
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "409":
          description: |
            Conflict — server version mismatch or data corruption detected.
            Client should check `resyncRequired` in the response body.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncUploadConflictResponse"
        "413":
          description: Chunk too large (server limit exceeded)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "429":
          description: Rate limited — check Retry-After header
          headers:
            Retry-After:
              schema:
                type: integer
              description: Seconds to wait before retrying

  /api/sync/upload/{uploadId}:
    head:
      operationId: checkUploadStatus
      summary: Quick status check via headers
      description: |
        Lightweight status check that returns the upload state in
        response headers only — no JSON body. Use this for periodic
        polling without consuming bandwidth.

        Response headers:
        - `X-Upload-Id`: Server-assigned upload ID
        - `X-Confirmed-Offset`: Byte offset confirmed by server
        - `X-Server-Version`: Current version token
        - `X-Upload-Type`: File type (e.g. "transcript")
        - `X-Upload-Cli`: CLI identifier (e.g. "claude-code")
      security:
        - bearerAuth: []
      parameters:
        - name: uploadId
          in: path
          required: true
          schema:
            type: string
          description: Server-assigned upload ID
      responses:
        "200":
          description: Upload found
          headers:
            X-Upload-Id:
              schema:
                type: string
              description: Server-assigned upload ID
            X-Confirmed-Offset:
              schema:
                type: integer
              description: Byte offset confirmed by server
            X-Server-Version:
              schema:
                type: string
              description: Current version token
            X-Upload-Type:
              schema:
                type: string
              description: File type (e.g. "transcript")
            X-Upload-Cli:
              schema:
                type: string
              description: CLI identifier (e.g. "claude-code")
        "404":
          description: Upload not found

    get:
      operationId: getUploadStatus
      summary: Get full upload status
      description: |
        Returns the server's current state for a tracked upload,
        including confirmed byte offset, version token, and metadata.
        Useful for resuming uploads after client restarts.
      security:
        - bearerAuth: []
      parameters:
        - name: uploadId
          in: path
          required: true
          schema:
            type: string
          description: Server-assigned upload ID
      responses:
        "200":
          description: Upload status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncUploadStatusResponse"
        "404":
          description: Upload not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/sync/upload/by-path:
    get:
      operationId: getUploadByPath
      summary: Look up an upload by original file path
      description: |
        Find a server-side upload record by the client-reported file path,
        session ID, type, and CLI. Returns the current upload state.
      security:
        - bearerAuth: []
      parameters:
        - name: type
          in: query
          required: true
          schema:
            type: string
            enum: [transcript, plan, log]
          description: Upload type
        - name: cli
          in: query
          required: true
          schema:
            type: string
          description: CLI identifier (e.g. "claude-code")
        - name: sessionId
          in: query
          required: true
          schema:
            type: string
          description: Client session ID
        - name: filePath
          in: query
          required: true
          schema:
            type: string
          description: Absolute file path on the client machine
      responses:
        "200":
          description: Upload found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncUploadStatusResponse"
        "404":
          description: No upload found for the given parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    SyncUploadRequest:
      type: object
      required:
        - type
        - cli
        - sessionId
        - filePath
        - offsetBytes
        - newOffsetBytes
        - fileSizeBytes
        - encoding
        - data
        - rawBytes
        - compressedBytes
      properties:
        type:
          type: string
          enum: [transcript, plan, log]
          description: |
            What kind of file is being uploaded. The server uses this
            to route to the appropriate storage and processing logic.
            - `transcript` — AI coding session transcript (JSONL)
            - `plan` — SpecFlow plan artifact (Markdown)
            - `log` — General log file
          example: "transcript"
        cli:
          type: string
          description: |
            Which AI coding tool produced this file. Allows the server
            to handle tool-specific format differences.
            Known values: "claude-code", "cursor", "windsurf", "copilot"
          example: "claude-code"
        sessionId:
          type: string
          description: |
            ADIT session ID that owns this file.
            Used to group uploads by coding session.
          example: "01JNAB3X4Y5Z6W7V8U9T0S"
        filePath:
          type: string
          description: |
            Absolute path to the file on the client machine.
            Used as a deduplication key (per session + server + type + cli).
          example: "/home/user/.claude/projects/.../abc123.jsonl"
        offsetBytes:
          type: integer
          minimum: 0
          description: |
            Starting byte offset of this chunk in the original file.
            Must match the server's `confirmedOffset` from the previous
            upload (or 0 for initial upload).
          example: 0
        newOffsetBytes:
          type: integer
          minimum: 0
          description: |
            Ending byte offset after this chunk. For JSONL files, this
            always falls on a newline boundary to preserve line integrity.
          example: 4096
        fileSizeBytes:
          type: integer
          minimum: 0
          description: |
            Current total size of the file on the client.
            Informational only — helps track upload progress.
          example: 8192
        serverVersion:
          type: string
          nullable: true
          description: |
            Opaque version token from the server's previous response.
            Used for optimistic concurrency control. Send null for
            the initial upload.
          example: "v1-abc123-1709123456"
        encoding:
          type: string
          enum: [gzip]
          description: |
            Compression encoding of the `data` field. Currently
            only "gzip" is supported.
        data:
          type: string
          format: byte
          description: |
            Base64-encoded gzip-compressed file data.
            For JSONL files, contains complete lines only (no partial lines).
          example: "H4sIAAAAAAAA..."
        rawBytes:
          type: integer
          minimum: 0
          description: |
            Size of the data before compression (in bytes).
            Used to validate decompression and for metrics.
          example: 3500
        compressedBytes:
          type: integer
          minimum: 0
          description: |
            Size of the data after compression (in bytes).
            Used for bandwidth tracking and metrics.
          example: 1200

    SyncUploadResponse:
      type: object
      required:
        - uploadId
        - confirmedOffset
        - serverVersion
        - resyncRequired
      properties:
        uploadId:
          type: string
          description: |
            Server-assigned upload ID (stable across increments).
            Use this for subsequent HEAD/GET status checks.
          example: "up_01JNAB3X4Y5Z6W7V8U9T0S"
        confirmedOffset:
          type: integer
          minimum: 0
          description: |
            The byte offset that the server has confirmed receiving up to.
            The client should store this and use it as `offsetBytes` in
            the next upload request.
          example: 4096
        serverVersion:
          type: string
          description: |
            Opaque version token. The client must send this back in the
            next upload's `serverVersion` field for conflict detection.
          example: "v1-abc123-1709123456"
        resyncRequired:
          type: boolean
          description: |
            If true, the server has detected data corruption or
            inconsistency. The client must re-upload the entire
            file from offset 0 with serverVersion=null.
          example: false

    SyncUploadConflictResponse:
      type: object
      required:
        - resyncRequired
        - message
      properties:
        resyncRequired:
          type: boolean
          description: |
            Always true for conflict responses. Signals the client
            to reset its upload state and re-upload from offset 0.
          example: true
        message:
          type: string
          description: Human-readable explanation of the conflict.
          example: "Server version mismatch — data may be corrupted. Full re-upload required."
        confirmedOffset:
          type: integer
          description: |
            The server's last known good offset. May be 0 if the
            server has discarded all data for this upload.
          example: 0

    SyncUploadStatusResponse:
      type: object
      required:
        - uploadId
        - type
        - cli
        - confirmedOffset
        - serverVersion
        - createdAt
        - updatedAt
      properties:
        uploadId:
          type: string
          description: Server-side unique identifier for this upload.
          example: "up_01JNAB3X4Y5Z6W7V8U9T0S"
        type:
          type: string
          enum: [transcript, plan, log]
          description: Upload type.
          example: "transcript"
        cli:
          type: string
          description: CLI that produced this file.
          example: "claude-code"
        sessionId:
          type: string
          description: ADIT session ID.
          example: "01JNAB3X4Y5Z6W7V8U9T0S"
        filePath:
          type: string
          description: Original file path from the client.
          example: "/home/user/.claude/projects/.../abc123.jsonl"
        confirmedOffset:
          type: integer
          minimum: 0
          description: Byte offset confirmed by the server.
          example: 4096
        totalStoredBytes:
          type: integer
          minimum: 0
          description: Total bytes stored on the server for this upload.
          example: 4096
        serverVersion:
          type: string
          description: Current version token.
          example: "v1-abc123-1709123456"
        createdAt:
          type: string
          format: date-time
          description: When the upload was first registered on the server.
        updatedAt:
          type: string
          format: date-time
          description: When the upload was last updated.

    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string
          description: Human-readable error message.
          example: "Invalid request: offsetBytes must be non-negative"
        code:
          type: string
          description: |
            Machine-readable error code for programmatic handling.
            Optional — not all errors have a code.
          example: "INVALID_OFFSET"
